// Modo claro

// Variables que cambiarán en función del contraste
$border-color: #e4e2e2;                                    // Color de los bordes
$box-shadow-color: rgba(59, 49, 49, 0.663);               // Color para las sombras
$background-colorCategorias: rgb(255, 120, 96);           // Color de fondo para las categorías
$colorPalabras: rgb(119, 117, 117);                       // Color del texto de las palabras
$background-color: rgb(255, 255, 255);                    // Color de fondo principal
$colorFondoBoton: rgb(0, 0, 0);                           // Color de fondo para los botones
$colorBoton: rgb(255, 255, 255);                          // Color del texto en los botones

// Mixin para definir estilos en modo claro
@mixin definEstilo {
  body {
    background-color: $background-color;                     // Establecer el color de fondo principal para el cuerpo
  }

  #header {
    border-bottom: 1px solid $border-color;                 // Establecer un borde inferior con el color definido
  }

  #contenedor {
    border: 1px solid $border-color;                        // Establecer un borde con el color definido
    box-shadow:
      5px 0 10px $box-shadow-color,
      -5px 0 10px $box-shadow-color,
      0 5px 10px $box-shadow-color,
      0 -5px 10px $box-shadow-color;                       // Aplicar una sombra con el color definido en múltiples direcciones
  }

  .btn {
    background-color: $colorFondoBoton;
    color: $colorBoton;
    box-shadow:
      0 5px 10px $box-shadow-color;                        // Aplicar una sombra con el color definido en múltiples direcciones
  }

  .linea {
    border-bottom: 1px solid $border-color;               // Establecer un borde inferior con el color definido a elementos con clase .linea
  }

  .categoria {
    background-color: $background-colorCategorias;        // Establecer el color de fondo de las categorías
    box-shadow:
      0 5px 10px $box-shadow-color;                       // Aplicar una sombra con el color definido en múltiples direcciones
  }

  .fila1 {
    border: 1px solid $border-color;                     // Establecer un borde con un color diferente (#ccc) a elementos con clase .fila1
    box-shadow:
      0 5px 10px $box-shadow-color;                      // Aplicar una sombra con el color definido en múltiples direcciones
  }

  p {
    &:nth-child(3) {
      color: $colorPalabras;                            // Cambiar el color del texto a $colorPalabras en el tercer párrafo
    }
  }

  #titulo2 {
    color: $colorPalabras;                              // Cambiar el color del texto a $colorPalabras para elementos con ID #titulo2
  }
}
