// mystyles.scss

@charset "utf-8";

// Importa la fuente McLaren desde Google Fonts
@import url('https://fonts.googleapis.com/css2?family=McLaren&display=swap');

// Variables para colores
$orange: #da791ff1;                       // Color naranja principal
$dark-orange: #8a4a0df1;                  // Tono más oscuro de naranja
$light-orange: #cd813ae2;                 // Tono más claro de naranja
$white: #FFFFFF;                          // Color blanco
$beige-lighter: #EFF0EB;                  // Tono más claro de beige

// Variables globales para Bulma
$family-sans-serif: 'McLaren', sans-serif;  // Familia de fuentes para todo el documento
$grey-dark: $dark-orange;                   // Color gris oscuro
$grey-light: $light-orange;                 // Color gris claro
$primary: $orange;                          // Variable de color primario

// Variables de componentes de Bulma
$body-background-color: $beige-lighter;     // Color de fondo del cuerpo
$control-border-width: 2px;                 // Ancho del borde del control
$input-border-color: transparent;           // Color del borde del input
$has-background-primary: $primary;          // Fondo para el estado primario

// Importaciones de Bulma
@import "./utilities/_all.sass";
@import "./base/_all.sass";
@import "./layout/_all.sass";
@import "./elements/_all.sass";
@import "./helpers/_all.sass";
@import "./form/_all.sass";
@import "./components/_all.sass";
@import "./grid/_all.sass";

// Reglas adicionales para cambiar el color del texto en el estado 'is-active'
.tabs-menu {
    li.is-active {
        a {
            color: black !important;  // Cambia el color del texto a negro en 'is-active'
        }
    }
}